@import 'null.scss'; 


body {
    font-family: 'Gilroy';
    font-weight: medium;
    color: #070707;
}

.container { 
    max-width: 943px;
    margin: 0 auto;

}

* {
    transition: 0.7s; 
}


.navbar {
    font-size: 18px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 89px;
    a {
        color: #828282;
    }
    a:hover {
        color: #070707;
    }
    border-bottom: 1.5px solid #828282;
}


.header-info {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.header-name {
    font-size: 47.3392px;
    font-weight: 700;


}
.header-profession {
    font-size: 18px;
    color: #070707;

}

.header-pointer {
    font-size: 16px;
    color: #828282;
    transform: rotate(-90deg);
    font-weight: 700;
    text-transform: uppercase;
    align-self: center;
}

.header-img {
    margin-top: 50px;
    margin-bottom: 104px;
}

.section-about {
    background-color: #F6F6F6;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 107px;
}


.about-header {
    font-weight: 700;
    font-size: 34px;

}
.about-p {
    margin-top: 30px;
    font-size: 18px;
    line-height: 22px;
}

.skills {
    padding-top: 91px;
    text-align: center;
    padding-bottom: 111px;
}

.skills-header {
    font-size: 34px;
    font-weight: 700;
}

.skills-image {
    display: flex;
    justify-content: space-between;
}

.skills-programm {
    margin-top: 34.5px;
    font-size: 18px;
}

.skills-image {
    margin-top: 84px;
}

.portfolio {
    background-color: #F6F6F6;
    padding-top: 113px;
    text-align: center;
    p {
        text-decoration: underline;
        margin-top: 45px;
        margin-bottom: 99px;
        font-size: 18px;
    }
    padding-bottom: 96px;
}

.portfolio-header {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 47px;
}

.footer{
    padding-top: 114px;
    text-align: center;
}

.footer-header {
    font-size: 34px;
    font-weight: 700;
}

.footer-info {
    margin-top: 20px;
    font-size: 18px;
}
.header-eng {
    color: #000;
}

.button-wrapper {
    margin: auto;
    margin-top: 30px;
    background: #070707;
    width: 181px;
    padding: 21px 21px;
    border-radius: 50px;
    transition: 0.4s;
    a{
        color: #fff;
        font-size: 18px;
        text-align: center;
        font-weight: 700;
    }
    &:hover {
        background-color: rgb(56, 56, 56);
    }
}


.footer-icons {
    max-width:343px;
    margin: 0 auto;
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
}

.footer-last-content {
    margin-top: 45px;
    p{
        font-size: 14px;
        color: #828282;
    }
    padding-bottom: 123px;
    
}
.menu-open {
    background: none;
    border: none;
    margin-left: 20px;  
    display: none;
}

.menu-open-img {
    max-width: 30px;
    max-height: 20px;
}




@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
    .header img {
        width: 720px;
    }
    .portfolio img {
        width: 720px;
    }
}
@media screen and (max-width: 720px) {
    .container {
        width: 540px;
    }
    .navbar-links li {
        display: none;
    }
    .header-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        p {
            margin-top: 23px;
        }
        .header-pointer{
            display: none;
        }
    }
    .header img {
        width: 540px;
    }
    .portfolio img {
        width: 540px;
    }
    .skills-image {
        width: 540px;
    }
    .skills-image {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center    }
    .skills-image img {
        width: 166.46px;
    }
    .skills-image img:nth-child(2) {
        margin-top: 82px;
    }
    .skills-image img:nth-child(3) {
        margin-top: 82px;
    }
    .skills-image img:nth-child(4) {
        margin-top: 82px;
    }
    .menu-open {
        display: block;
    }
}
@media screen and (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .header img {
        width: 100%;
    }
    .portfolio img {
        width: 100%;
    }
    .skills-image {
        width: 100%;
    }
    .skills-image {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center    }
    .skills-image img {
        width: 166.46px;
    }
    .skills-image img:nth-child(2) {
        margin-top: 82px;
    }
    .skills-image img:nth-child(3) {
        margin-top: 82px;
    }
    .skills-image img:nth-child(4) {
        margin-top: 82px;
    }
}